<footer class="site-footer">
  <div class="container grid cols-2">
    <div>
      <p><strong>Ivry Échecs 94</strong><br>
      Club d’échecs à Ivry-sur-Seine<br>
      📧 <a href="mailto:ivry-echecs94@mail.com">ivry-echecs94@mail.com</a></p>
    </div>
    <div class="text-right">
      <p>
        Suivez-nous bientôt sur :  
        <a href="#">Facebook</a> | 
        <a href="#">Instagram</a>
      </p>
      <p>&copy; {{ site.time | date: "%Y" }} Ivry Échecs 94 — 
        <a href="/contact.html">Nous contacter</a> · 
        <a href="/404.html">Mentions légales</a>
      </p>
    </div>
  </div>
</footer>
